.markdown p {
  font-size: 1.1em;
}
.markdown hr {
  margin: 50px 0;
}
.markdown p code {
  background: #f7f7f7 !important;
  padding: 2px 5px;
  color: purple;
  font-size: 11pt;
}
.markdown pre {
  background: #f7f7f7 !important;
  padding: 16px;
  font-size: 10.5pt;
}
.markdown strong {
  background: #fff2a8;
  font-size: 1.1em;
  padding: 2px 5px;
}
.markdown code {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  height: 100%;
  line-height: 18pt;
}
